@page "/login"
@using DashboardV2.DataModels.CustomModels ;
@inject NavigationManager navManager ;

<style>

</style>

<div>

    <div>



    </div>








</div>


@code {
    LoginModel loginModel { get; set; }
}
